<div class="container">
<section>

<aside class="span-8 append-1">
  <img src="images/ipad.png" alt="image of an ipad"/>
</aside>

<article class="span-15 last">  
  <div class="mod buy">
    <div class="hd">
      <h2>The iPad is now available for pre-order and we are curious if you bought it... <strong>so did you?</strong></h2>
    </div>
    <div class="bd">      
      
      <% form_for @purchase do |f| -%>
      <fieldset>
        <ul>
          <li class="inline" style="padding-left: 50px; ">
            <label for="purchase_buy">Yes <%= f.radio_button :buy, :yes %></label>
            <label for="purchase_buy">No <%= f.radio_button :buy, :no %></label>
          </li>
          
          <li class="inline center">
            <%= f.label :why, "Why?" %>
            <%= f.text_area :why %>
          </li>
          
          <li class="inline center">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, :class => "text email" %>
          </li>

          <li class="inline center">
            <%= f.label :zip, "Zip Code" %>
            <%= f.text_field :zip, :class => "text" %>
          </li>
          
          <li class="submit">
            <%= f.submit "Submit", :disable_with => 'Submiting...' %>
          </li>
        
        </ul>          
      </fieldset>       
        
      <% end -%>
      
    </div>
    <div class="ft">

    </div>
  </div>
  
</article>

</section>
</div>